body{
    margin: 0;
    margin-top: 0;
}
header {
background-color: #002654;
}

h1, p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
}

h1{
    font-size: 48px;
    text-align: center;
    padding-top: 87px;
    padding-left: 500px;
    padding-right: 500px;
}

.undertext {
    font-size: 48;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 40px;
}

.nav {
    text-align: center;
    color: white;
}

nav a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    padding: 50px;
    display: inline-block;
    text-align: center;
}

nav a:hover{
    color: red;
}

#timeline {
    padding-right: 4cm;
}

#resources {
    padding-right: 4cm;
}

#home {
padding-right: 2cm;
}

footer {
    background-color: #002654;
    width: 1728;
   
 }